# Configuration SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=support@seeg-talentsource.com
SMTP_PASSWORD=njev urja zsbc spfn
SMTP_TLS=true
SMTP_SSL=false
MAIL_FROM_NAME=One HCM - SEEG Talent Source
MAIL_FROM_EMAIL=support@seeg-talentsource.com

# Configuration application
PUBLIC_APP_URL=http://localhost:3000

# Configuration base de données (existante)
DATABASE_URL=postgresql+asyncpg://Sevan:Sevan%40Seeg@seeg-postgres-server.postgres.database.azure.com:5432/postgres
DATABASE_URL_SYNC=postgresql://Sevan:Sevan%40Seeg@seeg-postgres-server.postgres.database.azure.com:5432/postgres

# Configuration JWT
SECRET_KEY=your-super-secret-key-here-change-in-production-123456789
